<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="weather">
    <ion-card-header>
      <ion-card-title>Current Weather</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>City</ion-label>
          <ion-label slot="end">{{ weather.name }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Description</ion-label>
          <ion-label slot="end"><img src="{{ weather.icon }}" class="weather-icon" alt=""><ion-label>{{ weather.description }}</ion-label></ion-label>
        </ion-item>
       
        <ion-item>
          <ion-label>Cloudiness</ion-label>
          <ion-label slot="end">{{ weather.cloud }} %</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Humidity</ion-label>
          <ion-label slot="end">{{ weather.humidity }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Pressure</ion-label>
          <ion-label slot="end">{{ weather.pressure }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Temperature</ion-label>
          <ion-label slot="end">{{ weather.temp }} &deg;C</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Wind</ion-label>
          <ion-label slot="end">{{ weather.wind }} m/s</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>